.bolt {
    background-image: url("/assets/svg/bolt.svg");
}

.circle {
    background-image: url("/assets/svg/circle.svg");
}

.crown {
    background-image: url("/assets/svg/crown.svg");
}

.cube {
    background-image: url("/assets/svg/cube.svg");
}

.diamond {
    background-image: url("/assets/svg/diamond.svg");
}

.heart {
    background-image: url("/assets/svg/heart.svg");
}

.hexagram {
    background-image: url("/assets/svg/hexagram.svg");
}

.moon {
    background-image: url("/assets/svg/moon.svg");
}

.puzzle {
    background-image: url("/assets/svg/puzzle.svg");
}

.sad {
    background-image: url("/assets/svg/sad.svg");
}

.smile {
    background-image: url("/assets/svg/smile.svg");
}


.square {
    background-image: url("/assets/svg/square.svg");
}

.star {
    background-image: url("/assets/svg/star.svg");
}
