.apple {
    background-image: url("/assets/svg/apple.svg");
}

.barn {
    background-image: url("/assets/svg/barn.svg");
}

.barrel {
    background-image: url("/assets/svg/barrel.svg");
}

.beet {
    background-image: url("/assets/svg/beet.svg");
}

.boots {
    background-image: url("/assets/svg/boots.svg");
}

.cheese {
    background-image: url("/assets/svg/cheese.svg");
}

.corn {
    background-image: url("/assets/svg/corn.svg");
}

.cow {
    background-image: url("/assets/svg/cow.svg");
}

.eggs {
    background-image: url("/assets/svg/eggs.svg");
}

.farmer {
    background-image: url("/assets/svg/farmer.svg");
}

.fence {
    background-image: url("/assets/svg/fence.svg");
}


.fields {
    background-image: url("/assets/svg/fields.svg");
}

.fruits {
    background-image: url("/assets/svg/fruits.svg");
}

.fruit-tree {
    background-image: url("/assets/svg/fruit-tree.svg");
}

.harvest {
    background-image: url("/assets/svg/harvest.svg");
}

.hay {
    background-image: url("/assets/svg/hay.svg");
}

.hen {
    background-image: url("/assets/svg/hen.svg");
}

.hive {
    background-image: url("/assets/svg/hive.svg");
}

.horseshoe {
    background-image: url("/assets/svg/horseshoe.svg");
}

.irrigation {
    background-image: url("/assets/svg/irrigation.svg");
}

.jam {
    background-image: url("/assets/svg/jam.svg");
}

.meat {
    background-image: url("/assets/svg/meat.svg");
}

.milk {
    background-image: url("/assets/svg/milk.svg");
}

.pickup-truck {
    background-image: url("/assets/svg/pickup-truck.svg");
}

.pig {
    background-image: url("/assets/svg/pig.svg");
}

.planting {
    background-image: url("/assets/svg/planting.svg");
}

.product-bag {
    background-image: url("/assets/svg/product-bag.svg");
}

.scarecrow {
    background-image: url("/assets/svg/scarecrow.svg");
}

.scythe {
    background-image: url("/assets/svg/scythe.svg");
}

.seeds {
    background-image: url("/assets/svg/seeds.svg");
}

.sheep {
    background-image: url("/assets/svg/sheep.svg");
}

.sickle {
    background-image: url("/assets/svg/sickle.svg");
}

.sprouts {
    background-image: url("/assets/svg/sprouts.svg");
}

.sunflower {
    background-image: url("/assets/svg/sunflower.svg");
}

.tank {
    background-image: url("/assets/svg/tank.svg");
}

.tools {
    background-image: url("/assets/svg/tools.svg");
}

.tractor {
    background-image: url("/assets/svg/tractor.svg");
}

.vegetables {
    background-image: url("/assets/svg/vegetables.svg");
}

.well {
    background-image: url("/assets/svg/well.svg");
}

.wheat {
    background-image: url("/assets/svg/wheat.svg");
}

.wheelbarrow {
    background-image: url("/assets/svg/wheelbarrow.svg");
}

.cat {
    background-image: url("/assets/svg/cat.svg");
}

.mouse {
    background-image: url("/assets/svg/mouse.svg");
}

